<template>
<div>
  <a-row type="flex" justify="center">
    <a-col :span="24" class="mt-5">
      <a-row type="flex" justify="center">
        <h1>สรุปรายการสินค้า</h1>
      </a-row>
    </a-col>
    <a-col :span="16">
      <a-card>
        <apexchart width="100%" type="bar" :options="options" :series="series"></apexchart>
      </a-card>
    </a-col>
  </a-row>
</div>
</template>
<script>
import { GetAllReport } from '@/graphql/report'
export default {
  data () {
    return {
      options: {
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: []
        }
      },
      series: [{
        name: 'ชิ้น',
        data: []
      }]
    }
  },
  created () {
    this.GetData()
  },
  methods: {
    async GetData () {
      var data = GetAllReport()
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      // console.log(res.data.data.GetAllReport)
      var response = res.data.data.GetAllReport.data
      response.forEach(data => {
        this.options.xaxis.categories.push(data.product_name)
        this.series[0].data.push(data.qty)
      })
    }
  }
}
</script>
