<template>
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer v-model="drawer" app>
        <v-divider></v-divider>
        <a-menu mode="vertical">
          <a-menu-item v-for="item in Navigator" :key="item.key" @click="ChangePage(item)">
            <span class="pl-5">{{item.text}}</span>
          </a-menu-item>
        </a-menu>
      </v-navigation-drawer>
        <v-app-bar app>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Machine System</v-toolbar-title>
            <v-spacer></v-spacer>
            <!-- <v-icon class="mr-3" large>mdi-account</v-icon> -->
            <span class="mr-3" @click="Logout">Logout</span>
        </v-app-bar>
        <v-main  class="div_overflow">
          <v-container grid-list-xs>
            <router-view></router-view>
          </v-container>
        </v-main>
    </v-app>
  </div>
</template>
<script>
import { decode } from '@/services/decode'
export default {
  data () {
    return {
      drawer: true,
      Navigator: [],
      NavigatorAdmin: [
        { key: 'manu3', text: 'จัดการเครื่อง', path: '/machine' },
        { key: 'manu4', text: 'จัดการสินค้า', path: '/product' }
      ],
      NavigatorSuperAdmin: [
        { key: 'manu1', text: 'เเดชบอร์ด', path: '/homepage' },
        { key: 'manu2', text: 'จัดการผู้ใช้', path: '/user' },
        { key: 'manu3', text: 'จัดการเครื่อง', path: '/machine' },
        { key: 'manu4', text: 'จัดการสินค้า', path: '/product' }
      ]
    }
  },
  created () {
    if (localStorage.getItem('user') === null) {
      this.$router.push('/').catch(() => {})
    } else {
      var user = JSON.parse(decode(localStorage.getItem('user')))
      if (user.role === 'super_admin') {
        this.Navigator = this.NavigatorSuperAdmin
      } else {
        this.Navigator = this.NavigatorAdmin
      }
    }
  },
  methods: {
    ChangePage (val) {
      this.$router.push({ path: val.path }).catch(() => {})
    },
    Logout () {
      localStorage.removeItem('user')
      this.$router.push({ path: '/' }).catch(() => {})
    }
  }
}
</script>
<style>
.v-application ul, .v-application ol {
    padding: 0px 0px !important;
}

</style>
