<template>
  <a-row type="flex" justify="center" align="middle" style="height:100vh">
    <a-card style="width:500px">
        <a-row type="flex" justify="center">
          <a-col :span="12">
            <img width="100%" src="@/assets/no_image.png" />
          </a-col>
        </a-row>
        <a-row type="flex" justify="center" class="mt-5 mb-10">
          <span class="headline">Login Machine</span>
        </a-row>
        <a-row type="flex" justify="center" class="mt-3">
          <a-col :span="20" class="mb-5">
            <v-text-field placeholder="username / email" v-model="username" prepend-inner-icon="mdi-account" outlined dense hide-details></v-text-field>
          </a-col>
        </a-row>
        <a-row type="flex" justify="center" class="mb-5">
          <a-col :span="20">
            <v-text-field placeholder="password" v-model="password" prepend-inner-icon="mdi-lock" :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'" :type="show ? 'text' : 'password'" @click:append="show = !show" outlined dense hide-details></v-text-field>
          </a-col>
        </a-row>
        <a-row type="flex" justify="center">
          <a-col :span="20">
            <a-row type="flex" justify="end">
              <a-col :span="8">
                <a-button  @click="Login" block size="large">เข้าสู่ระบบ</a-button>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
        <a-row type="flex" justify="center" class="mt-5">
          <span>กรุณาติดต่อ admin ในการเข้าสู่ระบบ</span>
        </a-row>
      </a-card>
  </a-row>
</template>
<script>
import { Login } from '@/graphql/user'
import { GetMachineByIDUser } from '@/graphql/machine'
import { encode } from '@/services/encode'
export default {
  data () {
    return {
      show: false,
      username: '',
      password: ''
    }
  },
  methods: {
    async Login () {
      var set = {
        username: this.username,
        password: this.password
      }
      var data = Login(set)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      var responseLogin = res.data.data.Login
      if (responseLogin.result === 'SUCCESS') {
        this.CheckPermission(responseLogin)
      } else {
        this.$swal.fire({ icon: 'error', text: `${responseLogin.message}`, showConfirmButton: false, timer: 1500 })
      }
      // localStorage.setItem('user', encode(res.data.data.Login.data))
      // this.$router.push({ path: '/homepage' }).catch(() => {})
    },
    async CheckPermission (val) {
      if (val.data.role === 'machine') {
        // console.log(val)
        var data = GetMachineByIDUser(val.data.id)
        var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
        // console.log('Machine', res.data.data.GetMachineByIDUser)
        this.$swal.fire({ icon: 'success', text: 'Login success', showConfirmButton: false, timer: 1500 })
        localStorage.setItem('machine', encode(res.data.data.GetMachineByIDUser.data))
        this.$router.push({ path: '/machineseller' }).catch(() => {})
      } else {
        if (val.data.role === 'super_admin') {
          this.$swal.fire({ icon: 'success', text: 'Login success', showConfirmButton: false, timer: 1500 })
          localStorage.setItem('user', encode(val.data))
          this.$router.push({ path: '/homepage' }).catch(() => {})
        } else {
          this.$swal.fire({ icon: 'success', text: 'Login success', showConfirmButton: false, timer: 1500 })
          localStorage.setItem('user', encode(val.data))
          this.$router.push({ path: '/machine' }).catch(() => {})
        }
      }
    }
  }
}
</script>
