<template>
  <div>
    <a-row type="flex">
      <a-col :span="10" offset="1"  class="mt-5">
        <span class="headline">เครื่องในระบบ (จำนวน {{count}} เครื่อง)</span>
      </a-col>
      <a-col :span="22" offset="1" class="mt-5">
        <TableMachine :props="DataTable"/>
      </a-col>
    </a-row>
  </div>
</template>
<script>
import TableMachine from '@/components/Table/TableMachine'
import { GetAllMachine } from '@/graphql/machine'
export default {
  components: {
    TableMachine
  },
  data () {
    return {
      DataTable: [],
      count: 0
    }
  },
  created () {
    this.GetData()
  },
  mounted () {
    this.$EventBus.$on('GetMachine', this.GetData)
    this.$on('hook:beforeDestroy', () => {
      this.$EventBus.$off('GetMachine')
    })
  },
  methods: {
    async GetData () {
      var data = GetAllMachine()
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      this.DataTable = res.data.data.GetAllMachine.data
      this.count = this.DataTable.length
    }
  }
}
</script>
