<template>
  <div id="app">
    <v-app id="inspire">
        <v-app-bar app>
            <v-toolbar-title>ทดสอบระบบการขาย</v-toolbar-title>
            <v-spacer></v-spacer>
            <!-- <v-icon class="mr-3" large>mdi-account</v-icon> -->
            <span class="mr-3" @click="Logout">Logout</span>
        </v-app-bar>
        <v-main  class="div_overflow">
          <v-container grid-list-xs>
            <MachineSeller />
          </v-container>
        </v-main>
    </v-app>
  </div>
</template>
<script>
import MachineSeller from '@/components/DetailMachine/MachineSeller'
export default {
  components: {
    MachineSeller
  },
  created () {
    if (localStorage.getItem('machine') === null) {
      this.$router.push('/').catch(() => {})
    }
  },
  methods: {
    Logout () {
      localStorage.removeItem('machine')
      this.$router.push({ path: '/' }).catch(() => {})
    }
  }
}
</script>
