<template>
  <div>
    <a-row type="flex">
      <a-col :span="10" offset="1"  class="mt-5">
        <span class="headline">รายการสินค้าในเครื่อง (จำนวน {{count}} )</span>
      </a-col>
      <a-col :span="22" offset="1" class="mt-5">
        <DetailMachine :props="props" />
      </a-col>
    </a-row>
  </div>
</template>
<script>
import DetailMachine from '@/components/DetailMachine/Machine'
import { GetMachineByID } from '@/graphql/machine'
export default {
  data () {
    return {
      props: [],
      count: 0
    }
  },
  components: {
    DetailMachine
  },
  async created () {
    this.GetData()
  },
  mounted () {
    this.$EventBus.$on('GetMachineDetail', this.GetData)
    this.$on('hook:beforeDestroy', () => {
      this.$EventBus.$off('GetMachineDetail')
    })
  },
  methods: {
    async GetData () {
      var data = GetMachineByID(this.$router.currentRoute.query.id)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      // console.log(JSON.parse(res.data.data.GetMachineByID.data.machine_product))
      this.props = res.data.data.GetMachineByID.data
      this.count = JSON.parse(this.props.machine_product).length
    }
  }
}
</script>
