<template>
  <div>
    <a-row type="flex">
      <a-col :span="10" offset="1"  class="mt-5">
        <span class="headline">รายการสินค้าในระบบ (จำนวน {{count}} ชนิด)</span>
      </a-col>
      <a-col :span="22" offset="1" class="mt-5">
        <TableUser :props="DataTable" />
      </a-col>
    </a-row>
  </div>
</template>
<script>
import { GetAllProduct } from '@/graphql/product'
import TableUser from '@/components/Table/TableProduct'
export default {
  components: {
    TableUser
  },
  data () {
    return {
      DataTable: [],
      count: 0
    }
  },
  mounted () {
    this.$EventBus.$on('GetProduct', this.GetData)
    this.$on('hook:beforeDestroy', () => {
      this.$EventBus.$off('GetProduct')
    })
  },
  created () {
    this.GetData()
  },
  methods: {
    async GetData () {
      var data = GetAllProduct()
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      this.DataTable = res.data.data.GetAllProduct.data
      this.count = this.DataTable.length
    }
  }
}
</script>
