<template>
  <div>
    <a-row type="flex" justify="center" v-if="count.length === 0" class="mt-10">
      <h1>ไม่มีสินค้า</h1>
    </a-row>
    <a-row type="flex" :gutter="[10,10]" v-else>
      <a-col :span="5" v-for="(item, index) in count" :key="index">
        <a-card hoverable style="width: 100%">
          <img slot="cover" alt="example" height="160" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" v-if="item.image ===''"/>
          <img slot="cover" alt="example" height="160" :src="`${Path}${item.image}`" v-else/>
          <template slot="actions" class="ant-card-actions">
            <div v-if="item.qty === '0'">ซื้อสินค้า</div>
            <div @click="CheckConfirm(index)" v-else>ซื้อสินค้า</div>
          </template>
          <a-card-meta :title="item.product_name">
            <template slot="description">
              <a-row type="flex" justify="space-between">
                <span>ราคา {{item.price}} บาท</span>
                <span>{{item.qty}} ชิ้น</span>
              </a-row>
            </template>
          </a-card-meta>
        </a-card>
      </a-col>
    </a-row>
  </div>
</template>
<script>
import { UpdateMachineProduct, GetMachineByID } from '@/graphql/machine'
import { CreateReport } from '@/graphql/report'
import { decode } from '@/services/decode'
import { SendMail } from '@/graphql/mail'
export default {
  data () {
    return {
      count: [],
      Path: process.env.VUE_APP_IMG
    }
  },
  created () {
    this.GetMachine()
  },
  methods: {
    async GetMachine () {
      var user = JSON.parse(decode(localStorage.getItem('machine')))
      console.log('user====', user)
      var data = GetMachineByID(user.id)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      var response = res.data.data.GetMachineByID.data
      this.count = JSON.parse(response.machine_product)
    },
    CheckConfirm (index) {
      this.$swal.fire({
        title: 'คุณต้องการสั่งซื้อสินค้าชิ้นนี้',
        showCancelButton: true,
        confirmButtonText: 'ยืนยัน',
        cancelButtonText: 'ยกเลิก'
      }).then((result) => {
        if (result.isConfirmed) {
          this.BuyProduct(index)
        }
      })
    },
    async BuyProduct (index) {
      var user = JSON.parse(decode(localStorage.getItem('machine')))
      this.count[index].qty = (parseInt(this.count[index].qty) - 1).toString()
      var SetData = {
        id_machine: user.id,
        id_product: this.count[index].id,
        qty: '1',
        data: JSON.stringify(this.count).replace(/"/g, '\\"')
      }
      var data = UpdateMachineProduct(SetData)
      await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      this.CheckQtyMachine(index)
    },
    async CheckQtyMachine (index) {
      var user = JSON.parse(decode(localStorage.getItem('machine')))
      var SetData = {
        id_machine: user.id,
        id_product: this.count[index].id,
        location: user.location,
        discription: user.discription,
        product_name: this.count[index].product_name,
        qty: '1',
        price: this.count[index].price,
        email: user.email
      }
      var data = CreateReport(SetData)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      if (res.data.data.CreateReport.result === 'SUCCESS') {
        this.$swal.fire({ icon: 'success', title: 'สำเร็จ', showConfirmButton: false, timer: 1500 })
      } else {
        this.$swal.fire({ icon: 'error', text: `${res.data.data.CreateReport.message}`, showConfirmButton: false, timer: 1500 })
      }
      this.$EventBus.$emit('GetMachineDetail')
      if (parseInt(this.count[index].qty) < 10) {
        SetData.qty = this.count[index].qty
        var dataMail = await SendMail(SetData)
        console.log('ยิง API mail', dataMail)
        await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, dataMail)
      }
    }
  }
}
</script>
