<template>
  <div>
    <a-row type="flex">
      <a-col :span="24">
          <a-col :span="24" class="mb-5">
            <a-button size="large" @click="OpenModal">เพิ่มรายการสินค้าเข้าเครื่องนี้</a-button>
          </a-col>
      </a-col>
    </a-row>
    <a-row type="flex" justify="center" v-if="count.length === 0" class="mt-10">
      <h1>ไม่มีสินค้า</h1>
    </a-row>
    <a-row type="flex" :gutter="[10,10]" v-else>
      <a-col :span="6" v-for="(item, index) in count" :key="index">
        <a-card hoverable style="width: 100%">
          <img slot="cover" alt="example" height="160" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" v-if="item.image ===''"/>
          <img slot="cover" alt="example" height="160" :src="`${Path}${item.image}`" v-else/>
          <template slot="actions" class="ant-card-actions">
            <div>ซื้อสินค้า</div>
            <!-- <div @click="CheckConfirm(index)" v-else>ซื้อสินค้า</div> -->
          </template>
          <a-card-meta :title="item.product_name">
            <template slot="description">
              <a-row type="flex" justify="space-between">
                <span>ราคา {{item.price}} บาท</span>
                <span>{{item.qty}} ชิ้น</span>
              </a-row>
            </template>
          </a-card-meta>
        </a-card>
      </a-col>
    </a-row>
    <Modal :data="props" />
  </div>
</template>
<script>
import Modal from '@/components/Modal/Product_Machine'
import { UpdateMachineProduct } from '@/graphql/machine'
import { CreateReport } from '@/graphql/report'
export default {
  props: ['props'],
  data () {
    return {
      count: [],
      Path: process.env.VUE_APP_IMG
    }
  },
  watch: {
    props (val) {
      this.count = JSON.parse(val.machine_product)
    }
  },
  components: {
    Modal
  },
  methods: {
    OpenModal () {
      this.$store.commit('SetModal')
    },
    CheckConfirm (index) {
      this.$swal.fire({
        title: 'คุณต้องการสั่งซื้อสินค้าชิ้นนี้',
        showCancelButton: true,
        confirmButtonText: 'ยืนยัน',
        cancelButtonText: 'ยกเลิก'
      }).then((result) => {
        if (result.isConfirmed) {
          this.BuyProduct(index)
        }
      })
    },
    async BuyProduct (index) {
      this.count[index].qty = (parseInt(this.count[index].qty) - 1).toString()
      var SetData = {
        id_machine: this.props.id,
        id_product: this.count[index].id,
        qty: '1',
        data: JSON.stringify(this.count).replace(/"/g, '\\"')
      }
      var data = UpdateMachineProduct(SetData)
      await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      this.CheckQtyMachine(index)
    },
    async CheckQtyMachine (index) {
      var SetData = {
        id_machine: this.props.id,
        id_product: this.count[index].id,
        location: this.props.location,
        discription: this.props.discription,
        product_name: this.count[index].product_name,
        qty: '1',
        price: this.count[index].price
      }
      if (parseInt(this.count[index].qty) < 10) {
        // console.log('SetData', SetData)
      }
      var data = CreateReport(SetData)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      // console.log(res.data.data.CreateReport.result)
      if (res.data.data.CreateReport.result === 'SUCCESS') {
        this.$swal.fire({ icon: 'success', title: 'สำเร็จ', showConfirmButton: false, timer: 1500 })
      } else {
        this.$swal.fire({ icon: 'error', text: `${res.data.data.CreateReport.message}`, showConfirmButton: false, timer: 1500 })
      }
      this.$EventBus.$emit('GetMachineDetail')
    }
  }
}
</script>
