<template>
    <v-dialog v-model="Modal" width="500px" persistent>
      <v-card>
        <v-form ref="Form" :lazy-validation="lazy">
        <v-card-title class="headline grey lighten-2">{{DataMachine.title}}</v-card-title>
        <v-card-text>
          <a-row type="flex" justify="center">
          <a-col :span="8">
            <img width="100%" src="@/assets/no_image.png" />
          </a-col>
        </a-row>
        <a-row type="flex" justify="center" class="mt-3">
           <a-col :span="4" class="mt-2">อีเมล</a-col>
          <a-col :span="16">
            <v-text-field placeholder="อีเมล" v-model="DataMachine.email"  outlined dense :rules="Rules.email"></v-text-field>
          </a-col>
        </a-row>
         <a-row type="flex" justify="center">
           <a-col :span="4">สถานที่</a-col>
          <a-col :span="16">
            <v-text-field placeholder="สถานที่" v-model="DataMachine.location"  outlined dense :rules="Rules.location"></v-text-field>
          </a-col>
        </a-row>
        <a-row type="flex" justify="center">
          <a-col :span="4" class="mt-2">รายละเอียด</a-col>
          <a-col :span="16">
            <v-text-field placeholder="รายละเอียด" v-model="DataMachine.discription" outlined dense :rules="Rules.discription"></v-text-field>
          </a-col>
        </a-row>
          <a-row type="flex">
            <a-col :span="20" offset="2" class="mt-5">
              <a-row type="flex" justify="end">
                <a-button  @click="CloseModal" class="mr-4">ยกเลิก</a-button>
                <a-button type="primary" @click="CheckMethod">ยืนยัน</a-button>
              </a-row>
            </a-col>
          </a-row>
         </v-card-text>
         </v-form>
      </v-card>
    </v-dialog>
</template>
<script>
import { decode } from '@/services/decode'
import { CreateMachine, UpdateMachineByID } from '@/graphql/machine'
export default {
  data () {
    return {
      lazy: false,
      Rules: {
        location: [(v) => !!v || 'กรุณาระบุสถานที่ติดตั้งเครื่อง'],
        discription: [(v) => !!v || 'กรุณาระบุรายละเอียดที่ติดตั้งเครื่อง'],
        email: [
          (v) => !!v || 'กรุณากรอกอีเมล',
          (v) => /.+@.+\..+/.test(v) || 'รูปแบบของ email ไม่ถูกต้อง'
        ],
        number: [
          (v) => !!v || 'กรุณากรอกข้อมูล',
          (v) => /^([0-9])+$/.test(v) || 'กรุณาระบุตัวเลข'
        ]
      }
    }
  },
  computed: {
    Modal () {
      return this.$store.state.Modal
    },
    DataMachine () {
      return this.$store.state.DataMachine
    }
  },
  watch: {
    Modal () {
      this.$refs.Form.resetValidation()
    }
  },
  methods: {
    CloseModal () {
      this.$refs.Form.reset()
      this.$store.commit('SetModal')
    },
    CheckMethod () {
      if (this.$refs.Form.validate(true)) {
        if (this.DataMachine.status === 'create') {
          this.Create()
        } else if (this.DataMachine.status === 'edit') {
          this.Edit()
        }
      }
    },
    async Edit () {
      var data = UpdateMachineByID(this.DataMachine)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      var response = res.data.data.UpdateMachine
      if (response.result === 'SUCCESS') {
        this.$swal.fire({ icon: 'success', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
        this.$refs.Form.reset()
        this.$EventBus.$emit('GetMachine')
        this.$store.commit('SetModal')
      } else {
        this.$swal.fire({ icon: 'error', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
      }
    },
    async Create () {
      var user = JSON.parse(decode(localStorage.getItem('user')))
      var SetData = {
        token: user.token,
        location: this.DataMachine.location,
        discription: this.DataMachine.discription,
        slot: this.DataMachine.slot,
        email: this.DataMachine.email,
        machine_product: JSON.stringify([])
      }
      var data = CreateMachine(SetData)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      var response = res.data.data.CreateMachine
      if (response.result === 'SUCCESS') {
        this.$swal.fire({ icon: 'success', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
        this.$refs.Form.reset()
        this.$EventBus.$emit('GetMachine')
        this.$store.commit('SetModal')
      } else {
        this.$swal.fire({ icon: 'error', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
      }
    }
  }
}
</script>
