<template>
    <v-dialog v-model="Modal" width="500px" persistent>
      <v-card>
      <v-form ref="Form" :lazy-validation="lazy">
        <v-card-title class="headline grey lighten-2">เพิ่มรายการสินค้า</v-card-title>
        <v-card-text>
          <a-row type="flex" justify="center">
            <v-file-input
              v-model="DataImage"
              @change="UploadImage()"
              id="file_input"
              accept=".png"
              style="display:none"></v-file-input>
          <a-col :span="8" @click="onPickFile()">
            <img width="170" height="170" src="@/assets/no_image.png" v-if="DataProduct.image === ''"/>
            <img width="170" max-height="170" :src="`${Path}${DataProduct.image}`" v-else />
          </a-col>
        </a-row>
         <a-row type="flex" justify="center" class="mt-3">
           <a-col :span="4" class="mt-2">ชื่อสินค้า</a-col>
          <a-col :span="16">
            <v-text-field placeholder="ชื่อสินค้า" v-model="DataProduct.product_name"  outlined dense :rules="Rules.product_name"></v-text-field>
          </a-col>
        </a-row>
        <a-row type="flex" justify="center">
          <a-col :span="4" class="mt-2">ราคา</a-col>
          <a-col :span="16">
            <v-text-field placeholder="ราคา" v-model="DataProduct.price" outlined dense :rules="Rules.number"></v-text-field>
          </a-col>
        </a-row>
        <a-row type="flex" justify="center">
          <a-col :span="4" class="mt-2">จำนวน</a-col>
          <a-col :span="16" >
            <v-text-field placeholder="จำนวน" v-model="DataProduct.qty" outlined dense :rules="Rules.number"></v-text-field>
          </a-col>
        </a-row>
          <a-row type="flex">
            <a-col :span="20" offset="2" class="mt-5">
              <a-row type="flex" justify="end">
                <a-button  @click="CloseModal" class="mr-4">ยกเลิก</a-button>
                <a-button type="primary" @click="CheckMethod">ยืนยัน</a-button>
              </a-row>
            </a-col>
          </a-row>
         </v-card-text>
      </v-form>
      </v-card>
    </v-dialog>
</template>
<script>
import { decode } from '@/services/decode'
import { CreateProduct, UpdateProduct } from '@/graphql/product'
import { SaveImage } from '@/graphql/image'
export default {
  data () {
    return {
      Path: process.env.VUE_APP_IMG,
      DataImage: [],
      lazy: false,
      Rules: {
        product_name: [(v) => !!v || 'กรุณากรอกชื่อสินค้า'],
        number: [
          (v) => !!v || 'กรุณากรอกข้อมูล',
          (v) => /^([0-9])+$/.test(v) || 'กรุณาระบุตัวเลข'
        ]
      }
    }
  },
  computed: {
    Modal () {
      return this.$store.state.Modal
    },
    DataProduct () {
      return this.$store.state.DataProduct
    }
  },
  watch: {
    Modal () {
      this.$refs.Form.resetValidation()
    }
  },
  methods: {
    onPickFile () {
      document.getElementById('file_input').click()
    },
    UploadImage () {
      const element = this.DataImage
      const reader = new FileReader()
      reader.readAsDataURL(element)
      reader.onload = () => {
        var resultReader = reader.result
        // console.log('File base 64', resultReader)
        this.SaveImg(resultReader)
      }
    },
    async SaveImg (val) {
      var data = SaveImage(val)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      this.DataProduct.image = res.data.data.CreateImage.data
      // console.log('Result image', this.DataProduct)
    },
    CloseModal () {
      this.$store.commit('SetModal')
    },
    CheckMethod () {
      if (this.$refs.Form.validate(true)) {
        if (this.DataProduct.status === 'create') {
          this.Create()
        } else if (this.DataProduct.status === 'edit') {
          this.Edit()
        }
      }
    },
    async Edit () {
      var data = UpdateProduct(this.DataProduct)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      var response = res.data.data.UpdateProduct
      if (response.result === 'SUCCESS') {
        this.$swal.fire({ icon: 'success', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
        this.$refs.Form.reset()
        this.$EventBus.$emit('GetProduct')
        this.$store.commit('SetModal')
      } else {
        this.$swal.fire({ icon: 'error', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
      }
    },
    async Create () {
      var user = JSON.parse(decode(localStorage.getItem('user')))
      var SetData = {
        token: user.token,
        product_name: this.DataProduct.product_name,
        price: this.DataProduct.price,
        qty: this.DataProduct.qty,
        image: this.DataProduct.image
      }
      var data = CreateProduct(SetData)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      var response = res.data.data.CreateProduct
      if (response.result === 'SUCCESS') {
        this.$swal.fire({ icon: 'success', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
        this.restore()
        this.$refs.Form.reset()
        this.$EventBus.$emit('GetProduct')
        this.$store.commit('SetModal')
      } else {
        this.$swal.fire({ icon: 'error', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
      }
    },
    restore () {
      var DataProduct = {
        id: '',
        product_name: '',
        price: '',
        qty: '',
        status: 'create',
        image: '',
        title: 'เพิ่มรายการสินค้า'
      }
      this.$store.commit('SetDataProduct', DataProduct)
    }
  }
}
</script>
