<template>
    <v-dialog v-model="Modal" width="500px" persistent>
      <v-card>
        <v-form ref="Form" :lazy-validation="lazy">
        <v-card-title class="headline grey lighten-2">เพิ่มรายการสินค้าเข้าเครื่องขายนี้</v-card-title>
        <v-card-text>
          <a-row type="flex" justify="center">
          <a-col :span="8">
            <img width="100%" src="@/assets/no_image.png" />
          </a-col>
        </a-row>
        <a-row type="flex" justify="center" class="mt-3">
          <a-col :span="4" class="mt-2">เลือกสินค้า</a-col>
          <a-col :span="16">
            <v-select v-model="select" :items="itemListProduct" dense outlined item-text="product_name" item-value="id" :rules="Rules.product"></v-select>
          </a-col>
        </a-row>
        <a-row type="flex" justify="center">
          <a-col :span="4" class="mt-2">จำนวน</a-col>
          <a-col :span="16">
            <v-text-field placeholder="จำนวน" v-model="qty" outlined dense :rules="Rules.number"></v-text-field>
          </a-col>
        </a-row>
          <a-row type="flex">
            <a-col :span="20" offset="2" class="mt-5">
              <a-row type="flex" justify="end">
                <a-button  @click="CloseModal" class="mr-4">ยกเลิก</a-button>
                <a-button type="primary" @click="Confirm">ยืนยัน</a-button>
              </a-row>
            </a-col>
          </a-row>
        </v-card-text>
        </v-form>
      </v-card>
    </v-dialog>
</template>
<script>
import { GetAllProduct } from '@/graphql/product'
import { UpdateMachineProduct } from '@/graphql/machine'
export default {
  props: ['data'],
  data () {
    return {
      select: '',
      qty: '',
      itemListProduct: [],
      lazy: false,
      Rules: {
        product: [(v) => !!v || 'กรุณาเลือกสินค้า'],
        number: [
          (v) => !!v || 'กรุณากรอกข้อมูล',
          (v) => /^([0-9])+$/.test(v) || 'กรุณาระบุตัวเลข'
        ]
      }
    }
  },
  computed: {
    Modal () {
      return this.$store.state.Modal
    }
  },
  watch: {
    Modal () {
      this.$refs.Form.resetValidation()
    }
  },
  async created () {
    var data = GetAllProduct()
    var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
    this.itemListProduct = res.data.data.GetAllProduct.data
  },
  methods: {
    CloseModal () {
      this.$store.commit('SetModal')
    },
    async Confirm () {
      if (this.$refs.Form.validate(true)) {
        var setString = JSON.parse(this.data.machine_product)
        const result = this.itemListProduct.filter((data) => {
          return data.id === this.select
        })
        result[0].qty = this.qty
        const resultCheck = setString.filter((data) => {
          return data.id === result[0].id
        })
        if (resultCheck.length !== 0) {
          const FindIndex = setString.findIndex((data) => {
            return data.id === resultCheck[0].id
          })
          setString[FindIndex].qty = parseInt(setString[FindIndex].qty) + parseInt(this.qty)
          this.UpdateProductMachine(setString)
        } else {
          setString.push(result[0])
          this.UpdateProductMachine(setString)
        }
      }
    },
    async UpdateProductMachine (setString) {
      var SetData = {
        id_machine: this.data.id,
        id_product: this.select,
        qty: this.qty,
        data: JSON.stringify(setString).replace(/"/g, '\\"')
      }
      var data = UpdateMachineProduct(SetData)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      var response = res.data.data.UpdateMachineProduct
      if (response.result === 'SUCCESS') {
        this.$swal.fire({ icon: 'success', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
        this.select = ''
        this.qty = ''
        this.$EventBus.$emit('GetMachineDetail')
        this.$store.commit('SetModal')
      } else {
        this.$swal.fire({ icon: 'error', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
      }
    }
  }
}
</script>
