<template>
    <v-dialog v-model="Modal" width="500px" persistent>
      <v-card>
      <v-form ref="Form" :lazy-validation="lazy">
        <v-card-title class="headline grey lighten-2">{{DataUser.title}}</v-card-title>
        <v-card-text>
          <a-row type="flex" justify="center">
          <a-col :span="8">
            <img width="100%" src="@/assets/no_image.png" />
          </a-col>
        </a-row>
         <a-row type="flex" justify="center" class="mt-3">
           <a-col :span="4" class="mt-2">ชื่อผู้ใช้งาน</a-col>
          <a-col :span="16">
            <v-text-field placeholder="ชื่อผู้ใช้งาน" v-model="DataUser.username"  outlined dense :rules="Rules.username"></v-text-field>
          </a-col>
        </a-row>
        <a-row type="flex" justify="center" v-if="DataUser.status === 'create'">
          <a-col :span="4" class="mt-2">รหัสผ่าน</a-col>
          <a-col :span="16">
            <v-text-field placeholder="รหัสผ่าน" v-model="DataUser.password" outlined dense :rules="Rules.password" type="password"></v-text-field>
          </a-col>
        </a-row>
        <a-row type="flex" justify="center">
          <a-col :span="4" class="mt-2">ชื่อ</a-col>
          <a-col :span="16" >
            <v-text-field placeholder="ชื่อ" v-model="DataUser.firstname" outlined dense :rules="Rules.firstname"></v-text-field>
          </a-col>
        </a-row>
        <a-row type="flex" justify="center">
          <a-col :span="4" class="mt-2">สกุล</a-col>
          <a-col :span="16" >
            <v-text-field placeholder="สกุล" v-model="DataUser.lastname" outlined dense :rules="Rules.lastname"></v-text-field>
          </a-col>
        </a-row>
        <!-- <a-row type="flex" justify="center">
          <a-col :span="4" class="mt-2">สิทธิ์</a-col>
          <a-col :span="16" class="mb-5">
            <v-text-field placeholder="สิทธิ์" v-model="role" outlined dense hide-details></v-text-field>
          </a-col>
        </a-row> -->
          <a-row type="flex">
            <a-col :span="20" offset="2" class="mt-5">
              <a-row type="flex" justify="end">
                <a-button  @click="CloseModal" class="mr-4">ยกเลิก</a-button>
                <a-button type="primary" @click="CheckMethod">ยืนยัน</a-button>
              </a-row>
            </a-col>
          </a-row>
         </v-card-text>
      </v-form>
      </v-card>
    </v-dialog>
</template>
<script>
import { CreateUser, UpdateUser } from '@/graphql/user'
export default {
  data () {
    return {
      lazy: false,
      Rules: {
        username: [(v) => !!v || 'กรุณากรอกชื่อผู้ใช้'],
        password: [(v) => !!v || 'กรุณากรอกรหัสผ่าน'],
        firstname: [(v) => !!v || 'กรุณากรอกชื่อ'],
        lastname: [(v) => !!v || 'กรุณากรอกนามสกุล']
      }
    }
  },
  computed: {
    Modal () {
      return this.$store.state.Modal
    },
    DataUser () {
      return this.$store.state.DataUser
    }
  },
  watch: {
    Modal () {
      this.$refs.Form.resetValidation()
    }
  },
  methods: {
    CloseModal () {
      this.$refs.Form.reset()
      this.$store.commit('SetModal')
    },
    CheckMethod () {
      if (this.$refs.Form.validate(true)) {
        if (this.DataUser.status === 'create') {
          this.Create()
        } else if (this.DataUser.status === 'edit') {
          this.Edit()
        }
      }
    },
    async Edit () {
      var data = UpdateUser(this.DataUser)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      var response = res.data.data.UpdateUser
      if (response.result === 'SUCCESS') {
        this.$swal.fire({ icon: 'success', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
        this.$refs.Form.reset()
        this.$EventBus.$emit('GetUser')
        this.$store.commit('SetModal')
      } else {
        this.$swal.fire({ icon: 'error', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
      }
    },
    async Create () {
      var SetData = {
        username: this.DataUser.username,
        password: this.DataUser.password,
        firstname: this.DataUser.firstname,
        lastname: this.DataUser.lastname,
        role: 'admin'
      }
      var data = CreateUser(SetData)
      var res = await this.axios.post(`${process.env.VUE_APP_GRAPHQL}`, data)
      var response = res.data.data.Register
      if (response.result === 'SUCCESS') {
        this.$swal.fire({ icon: 'success', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
        this.$refs.Form.reset()
        this.$EventBus.$emit('GetUser')
        this.$store.commit('SetModal')
      } else {
        this.$swal.fire({ icon: 'error', text: `${response.message}`, showConfirmButton: false, timer: 1500 })
      }
    }
  }
}
</script>
