<template>
      <a-row type="flex">
        <a-col :span="24">
          <a-row type="flex" justify="space-between">
            <a-col :span="6" class="mb-5">
              <a-button block size="large" @click="OpenModal">เพิ่มรายการสินค้า</a-button>
            </a-col>
            <a-col :span="6" class="mb-5">
              <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" hide-details outlined dense></v-text-field>
            </a-col>
          </a-row>
        </a-col>
        <a-col :span="24">
        <a-card>
          <v-data-table :headers="headers" :items="props" :search="search" hide-default-footer  @page-count="pageCount = $event" :page.sync="page" :items-per-page="itemsPerPage">
            <template v-slot:[`item.edit`]="{ item }">
              <a-icon type="setting" @click="EditProduct(item)" />
            </template>
          </v-data-table>
        </a-card>
        <div class="text-center pt-2 pb-3">
          <v-pagination  light v-model="page" :total-visible="7" :length="pageCount"></v-pagination>
        </div>
      </a-col>
      <Modal />
    </a-row>
</template>
<script>
import Modal from '@/components/Modal/Product'
export default {
  props: ['props'],
  components: {
    Modal
  },
  data () {
    return {
      search: '',
      pageCount: 10,
      page: 1,
      itemsPerPage: 10,
      headers: [
        { text: 'ชื่อสินค้า', align: 'start', value: 'product_name', sortable: false },
        { text: 'ราคา', value: 'price', align: 'center', width: '200', sortable: false },
        { text: 'จำนวน', value: 'qty', align: 'center', width: '200', sortable: false },
        { text: 'เเก้ไข', value: 'edit', align: 'center', width: '200', sortable: false }
      ]
    }
  },
  methods: {
    OpenModal () {
      var data = {
        id: '',
        product_name: '',
        price: '',
        qty: '',
        status: 'create',
        title: 'เพิ่มรายการสินค้า'
      }
      this.$store.commit('SetDataUser', data)
      this.$store.commit('SetModal')
    },
    EditProduct (val) {
      // console.log(val)
      var data = {
        id: val.id,
        product_name: val.product_name,
        price: val.price,
        qty: val.qty,
        image: val.image,
        status: 'edit',
        title: 'เเก้ไขเพิ่มรายการสินค้า'
      }
      this.$store.commit('SetDataProduct', data)
      this.$store.commit('SetModal')
    }
  }
}
</script>
