<template>
      <!-- <v-card-title> -->
        <!-- <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details ></v-text-field> -->
      <!-- </v-card-title> -->
      <a-row type="flex">
        <a-col :span="24">
          <a-row type="flex" justify="space-between">
            <a-col :span="6" class="mb-5">
              <a-button block size="large" @click="OpenModal">เพิ่มผู้ใช้งาน</a-button>
            </a-col>
            <a-col :span="6" class="mb-5">
              <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" hide-details outlined dense ></v-text-field>
            </a-col>
          </a-row>
        </a-col>
        <a-col :span="24">
          <a-card>
            <v-data-table :headers="headers" :items="props" :search="search" hide-default-footer @page-count="pageCount = $event" :page.sync="page" :items-per-page="itemsPerPage">
              <template v-slot:[`item.firstname`]="{ item }">
                <span>{{item.firstname}} {{item.lastname}}</span>
              </template>
              <template v-slot:[`item.edit`]="{ item }">
                <a-icon type="setting" @click="EditUser(item)" />
              </template>
            </v-data-table>
          </a-card>
          <div class="text-center pt-2 pb-3">
            <v-pagination  light v-model="page" :total-visible="7" :length="pageCount"></v-pagination>
          </div>
        </a-col>
        <Modal />
      </a-row>
</template>
<script>
import Modal from '@/components/Modal/User'
export default {
  props: ['props'],
  components: {
    Modal
  },
  data () {
    return {
      search: '',
      pageCount: 10,
      page: 1,
      itemsPerPage: 10,
      headers: [
        { text: 'ชื่อผู้ใช้', align: 'left', sortable: false, value: 'username', width: '200' },
        { text: 'ชื่อ-สกุล', align: 'left', sortable: false, value: 'firstname' },
        { text: 'สิทธิ์', value: 'role', align: 'center', width: '300', sortable: false },
        { text: 'เเก้ไข', value: 'edit', align: 'center', width: '100', sortable: false }
      ]
    }
  },
  methods: {
    OpenModal () {
      var data = {
        title: 'เพิ่มผู้ใช้งาน',
        id: '',
        username: '',
        firstname: '',
        lastname: '',
        status: 'create'
      }
      this.$store.commit('SetDataUser', data)
      this.$store.commit('SetModal')
    },
    EditUser (val) {
      var data = {
        title: 'เเก้ไขข้อมูลผู้ใช้งาน',
        id: val.id,
        username: val.username,
        firstname: val.firstname,
        lastname: val.lastname,
        status: 'edit'
      }
      this.$store.commit('SetDataUser', data)
      this.$store.commit('SetModal')
    }
  }
}
</script>
