<template>
      <a-row type="flex">
        <a-col :span="24">
          <a-row type="flex" justify="space-between">
            <a-col :span="6" class="mb-5">
              <a-button block size="large" @click="OpenModal">เพิ่มเครื่องในระบบ</a-button>
            </a-col>
            <a-col :span="6" class="mb-5">
              <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" hide-details outlined dense></v-text-field>
            </a-col>
          </a-row>
        </a-col>
        <a-col :span="24">
        <a-card>
          <v-data-table :headers="headers" :items="props" :search="search" hide-default-footer  @page-count="pageCount = $event" :page.sync="page" :items-per-page="itemsPerPage">
            <template v-slot:[`item.location`]="{ item }">
              <div @click="SelectRow(item)">
                <span>{{item.location}}</span>
              </div>
            </template>
            <template v-slot:[`item.edit`]="{ item }">
              <a-icon type="setting" @click="EditMachine(item)"/>
            </template>
          </v-data-table>
        </a-card>
        <div class="text-center pt-2 pb-3">
          <v-pagination  light v-model="page" :total-visible="7" :length="pageCount"></v-pagination>
        </div>
      </a-col>
      <Modal />
    </a-row>
</template>
<script>
import Modal from '@/components/Modal/Machine'
export default {
  props: ['props'],
  components: {
    Modal
  },
  data () {
    return {
      search: '',
      pageCount: 10,
      page: 1,
      itemsPerPage: 10,
      headers: [
        { text: 'ที่ตั้ง', align: 'start', value: 'location', width: '150' },
        { text: 'ชื่อผู้ใช้งาน', align: 'start', value: 'username', width: '150' },
        { text: 'รายละเอียด', value: 'discription', align: 'center', sortable: false },
        { text: 'อีเมล', value: 'email', align: 'center', width: '200', sortable: false },
        { text: 'สร้างโดย', value: 'create_by', align: 'center', width: '180', sortable: false },
        // { text: 'เเก้ไขล่าสุด', value: 'update_by', align: 'center', width: '100', sortable: false },
        { text: 'เเก้ไข', value: 'edit', align: 'center', width: '100', sortable: false }
      ]
    }
  },
  methods: {
    OpenModal () {
      var data = {
        title: 'เพิ่มเครื่องในระบบ',
        id: '',
        location: '',
        discription: '',
        slot: '1',
        email: '',
        status: 'create'
      }
      this.$store.commit('SetDataMachine', data)
      this.$store.commit('SetModal')
    },
    EditMachine (val) {
      var data = {
        title: 'เเก้ไขข้อมูลเครื่อง',
        id: val.id,
        location: val.location,
        discription: val.discription,
        slot: '1',
        email: val.email,
        status: 'edit'
      }
      this.$store.commit('SetDataMachine', data)
      this.$store.commit('SetModal')
    },
    SelectRow (val) {
      // console.log('val =', val)
      this.$router.push({ path: `/machinedetail?id=${val.id}` })
    }
  }
}
</script>
